body {
  margin: 0;
  font-family: bebas neue, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'bebas neue';
  src: local('BebasNeue-Regular'), url('./fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'bevan';
  src: local('Bevan-Regular'), url('./fonts/Bevan-Regular.ttf');
}
